button{
  background-color: lightpink;
  font-weight:lighter;
  font-size: 20px;
}


body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Indie Flower' , cursive;
  font-weight:lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection {
  margin:50px 0px 80px 0px;
  width: 400px;
  align-items: center;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}
